{% extends "watch_temp/base.html" %}

{% block content %}
<div class="my-2 ml-4">
	<h3>当サイトの元になったシステムについて</h3>
</div>

<div class="border border-dark rounded my-2 mx-auto p-1" style="width: 90%">
	(この節はだ・である調で書きます。)<br>
	壁面の耐震補強工事を対象とした反応熱監視システムである。<br>
	<h5 class="mt-2 mb-0 p-0 border-bottom border-dark">背景</h5>
	A社は主に壁面の耐震補強工事を請け負う建設会社である。<br>
	コンクリートは固まる際、水と化学反応して熱を発する。A社は品質保証のため、市販の工事現場向け温度計(以下、温度計)を用いて反応熱を監視していた。<br>
	旧来の監視方法は以下の通りである。
	<ol class="m-0">
		<li>温度計を設置する。</li>
		<li>温度計が受信設定済みのPC(以下、温度受信PC)に温度、時刻、シリアル番号を含む計測データを送信する。</li>
		<li>温度計専用の受信したデータを可視化するソフトウェアが配布されている。作業員は温度受信PCでこのソフトウェアを操作し、反応熱を確認する。</li>
	</ol>
	この方法には以下の不満が挙がっていた。
	<ul class="m-0">
		<li>温度受信PC以外のPCで反応熱を確認することが難しい。</li>
		<li>温度計は複数設置する。手順3において、作業員は操作の度に温度計の一覧の中から反応熱を確認したい温度計を探す。<br>
			このときシリアル番号で照会する方法しかない。より直観的な探し方が欲しい。</li>
	</ul>
	A社は私がバイトしていたZ社にこれらの不満を解決するシステムの開発を依頼した。<br>

	<h5 class="mt-2 mb-0 p-0 border-bottom border-dark">システムの要件</h5>
	構成は以下の通りである。
	<ul class="m-0">
		<li>webサーバ</li>
		<li>データベースサーバ</li>
		<li>温度受信PCからデータベースへ温度等をアップロードするモジュール</li>
	</ul>
	反応熱の監視方法は以下の通りである。
	<ol class="m-0">
		<li>作業員がwebブラウザから温度計の設置カ所をデータベースへアップロードする。</li>
		<li>温度計を設置する。</li>
		<li>温度計が温度受信PCに計測データを送信する。</li>
		<li>受信PCが計測データから温度、時刻、シリアル番号を抽出し、データベースへアップロードする。</li>
		<li>作業員がwebブラウザから反応熱推移を確認する。</li>
	</ol>
	旧来の方法での不満には以下のように応えている。
	<ul class="m-0">
		<li>webブラウザを用いることで、インターネットに繋がった任意のPCから反応熱を確認することができる。</li>
		<li>反応熱を確認したい温度計を探す際、シリアル番号でなく設置カ所を用いて探すことが出来る。</li>
	</ul>
	データベースには以下の情報が保存される。
	<ul class="m-0">
		<li>工事案件情報<br>工事案件は施設ごとに発生する。<br>施設には複数のフロアがある。<br></li>
		<li>フロア情報<br>各フロアはいくつかのブロックに区分されている。</li>
		<li>ブロック情報<br>各ブロックには複数の温度計を設置する。</li>
		<li>温度計情報<br>システム内部で照会するためにシリアル番号を持つ。</li>
		<li>計測情報<br>システム内部で照会するためにシリアル番号を持つ。<br>温度と時刻を持つ。</li>
	</ul>
</div>

{% endblock %}
