{% extends "watch_temp/base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/watch_temp/style.css">
<script src="/static/watch_temp/show_thermometers.js"></script>

<div class="info-title" style="width: 10rem">
	<b>フロア詳細</b>
</div>

<div class="mx-auto" style="width: 95%">

	<div class="row info-r-t">
		<div class="col-2 info-c text-center">
			<b>建物名</b>
		</div>

		<div class="col-10 info-c">
			{{ floor.building.name }}
		</div>
	</div>

	<div class="row info-r-m">
		<div class="col-2 info-c text-center">
			<b>階</b>
		</div>

		<div class="col-10 info-c">
			{{ floor.floor }}F
		</div>
	</div>

	<div class="row info-r-m">
		<div class="col-2 info-c text-center">
			<b>温度</b>
		</div>

		<div class="col-10 info-c">
			<canvas class="w-100" width="1800" height="600"></canvas>
		</div>
	</div>

	<div class="row info-r-m">
		<div class="col-2 info-c-t text-center">
			<b>図面と温度計の配置</b>
		</div>

		<div class="col-10 info-c-t text-center" style="padding: calc(0.5rem + 25px)">
			<img id="floor_image" style="max-width: 500px; max-height: 200px" src="/media/{{ floor.image }}">
		</div>

		{% for t in thermometers %}
		<div id="thermometers_parent" style="position: relative; height: 0px; width: 0px">
			<div class="thermometer" data-pos-x="{{ t.pos_x }}" data-pos-y="{{ t.pos_y }}">
			</div>
		</div>
		{% endfor %}
	</div>

	<div class="row info-r-m">
		<div class="col-2 info-c-m">
			<div class="info-c-sub text-center">
				<b>温度計一覧</b>
			</div>
		</div>

		<div class="col-10 info-c" style="border-top: solid 1.5px; border-bottom: 0px">
			<table>
				<thead>
					<tr>
						<th>番号</th>
						<th>通称</th>
						<th>シリアル番号</th>
						<th>詳細</th>
					</tr>
				</thead>
				<tbody>
					{% for t in thermometers %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ t.name }}</td>
						<td>{{ t.serial }}</td>
						<td>
							<button
								class="btn btn-outline-dark edit-btn-simple"
								onclick="location.href='{% url 'watch_temp:detail_thermometer' pk=t.id %}'"
							><div style="background-image: url('/static/detail_icon.png')"></div></button>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

			<div class="mt-2 mb-1 mr-3 text-right">
				<button
					class="btn btn-outline-dark edit-btn"
					onclick="location.href='{% url 'watch_temp:set_thermometer_pos' floor_id=floor.id %}'"
				>
					<div style="background-image: url('/static/update_icon.png')"></div>
					<a>配置を修正</a>
				</button>
			</div>
<!--
			<ul class="m-0">
				{% for t in thermometers %}
				<li>{{ t.index }}:{{ t.serial }}</li>
				{% endfor %}
			</ul>
-->
		</div>
	</div>

	<div class="row info-r-m">
		<div class="col-2 info-c-b">
			<div class="info-c-sub text-center">
				<b>図面</b>
			</div>
		</div>

		<div class="col-10 info-c" style="border-top: solid 1.5px">
			<a href="/media/{{ floor.image }}" target="_blank">ここ</a>をクリックすると別タブで図面画像を開きます。
		</div>
	</div>

	<div class="row info-r-b">
		<div class="col-2 info-c text-center">
			<b>備考</b>
		</div>

		<div class="col-10 info-c">
			{{ floor.comment }}
		</div>
	</div>

</div>

<script>
window.addEventListener(
	'load',
	function(){
		const floor = document.getElementById('floor_image');
		const thermometersParent = document.getElementById('thermometers_parent');
		setThermometersPos(floor, thermometersParent);
		floor.onresize = function(){
			setThermometersPos(floor, thermometersParent);
		};
		window.onresize = function(){
			setThermometersPos(floor, thermometersParent);
		};
	},
	false
)
</script>

{% endblock %}
