{% extends "watch_temp/base.html" %}

{% block content %}

<link rel="stylesheet" href="/static/watch_temp/style.css">
<link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">

<div class="info-title" style="width: 10rem">
	<b>温度計一覧</b>
</div>

<div class="table-parent" style="width: 60%; max-width: 500px">
	<table>
		<thead>
			<tr>
				<th>通称</th>
				<th>シリアル番号</th>
				<th>詳細</th>
				<th>編集</th>
				<th>削除</th>
			</tr>
		</thead>
		<tbody>
			{% for t in thermometer_list %}
			<tr>
				<td>{{ t.name }}</td>
				<td>{{ t.serial }}</td>
				<td>
					<button
						class="btn btn-outline-dark edit-btn-simple"
						onclick="location.href='{% url 'watch_temp:detail_thermometer' pk=t.id %}'"
					><div style="background-image: url('/static/detail_icon.png')"></div></button>
				</td>
				<td>
					<button
						class="btn btn-outline-dark edit-btn-simple"
					><div style="background-image: url('/static/update_icon.png')"></div></button>
				</td>
				<td>
					<button
						class="btn btn-outline-dark edit-btn-simple"
					><div style="background-image: url('/static/delete_icon.png')"></div></button>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="my-2 mr-3 text-right">
		<button
			class="btn btn-outline-dark edit-btn"
			onclick="location.href='{% url 'watch_temp:create_thermometer' %}'"
		>
			<div style="background-image: url('/static/create_icon.png')"></div>
			<a><b>追加</b></a>
		</button>
	</div>
</div>

{% endblock %}
