<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>kaze47111</title>
		<meta name="description" content="品川風丸の練習用サイトです">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

		<!-- CSS only -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

		<!-- JavaScript Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</head>

	<body class="m-0 p-0">
		<div class="m-0 p-0" style="background-color: #444444">
			<h1 class="m-0" style="color: white; padding: 10px">kaze47111</h1>
		</div>

		<div class="row m-0 p-0">
			<div class="col-2 m-0" style="min-height: 600px; background-color: #444444">

			</div>

			<div class="col-10 m-0 p-0">
				{% block header %}{% endblock %}

				<div class="m-2">
					{% block content %}{% endblock %}
				</div>
			<div>
		</div>
<!--
		<aside style="width: 200px; float: left; height: 50px">
			<div style="background-color: #333333">
			</div>
		</aside>

		<main style="float: left; width: calc(100% - 200px)">
			<div class="m-0 p-0">
				<div class="m-0 p-0" style="height: 15px"></div>
			</div>
		</main>
-->
	</body>
</html>
