{% extends "main/base.html" %}


{% block head %}
<title>トップ｜品川風丸のHP</title>

<meta name="description" content="品川風丸のホームページです。">
{% endblock %}


{% block main %}
{% load static %}

    <!-- ~~~~~~~~~~~~~~~~~~ -->
    <!--     制作物まとめ     -->
    <!-- ~~~~~~~~~~~~~~~~~~ -->
    <div class="heading">
        <p>制作物</p>
    </div>

    <div class="w-100 p-2" style="max-width: 1200px;">
        <button class="btn btn-main my-1 mx-auto w-100" onclick="location.href='/wili'">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <img class="w-100" style="max-width: 300px" src="{% static "wili/wili_logo.svg" %}">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div style="text-align: left;">
                            <p class="h4">WiLI</p>
                            なくしもの捜索用プログラム群です。<br>
                            人間の行動を確率論でモデル化することでなくしものの位置を推定します。
                        </div>
                    </div>
                </div>
            </div>
        </button>
    
        <button class="btn btn-main my-1 mx-auto w-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <img class="w-100" style="max-width: 300px" src="{% static "main/marukazemaru_logo.svg" %}">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div style="text-align: left;">
                            <p class="h4">marukazemaru.com</p>
                            本webサイトです。<br>
                            NGINX+Djangoで作られています。
                        </div>
                    </div>
                </div>
            </div>
        </button>
    </div>

{% endblock %}
