.thermometer{
	width: 50px;
	height: 50px;
	position: absolute;
	background-image: url('/static/watch_temp/thermometer_icon.png');
	background-size: cover;
}

.building{
	width: 50%;
	border: solid 1px black;
}

.building-floor{
	text-align: center;
	border: solid 1px black;
	padding: 0.2rem;
	cursor: pointer;
}

.building-floor-detail{
	padding: 0.4rem;
	text-align: center;
	border-bottom: solid 1px black;
}

.building-floor-detail img{
	width: 65%;
	padding: 0.4rem;
	padding-top: 0px;
}

.building-floor-detail button{
	width: 47%;
	padding: 0.2rem 0.4rem;
}

.info-title{
	margin: 1rem auto 0px auto;
	padding: 0px;
	border-top: solid 1.5px black;
	border-left: solid 1.5px black;
	border-right: solid 1.5px black;
	border-radius: 0.5rem 0.5rem 0% 0%;
	text-align: center;
	font-size: 2rem;
}

.info-r-t{
	margin: 0px;
	padding: 0px;
	border-top: solid 1px black;
	border-left: solid 1px black;
	border-right: solid 1px black;
}

.info-r-m{
	margin: 0px;
	padding: 0px;
	border-left: solid 1px black;
	border-right: solid 1px black;
}

.info-r-b{
	margin: 0px;
	padding: 0px;
	border-left: solid 1px black;
	border-right: solid 1px black;
	border-bottom: solid 1px black;
}

.info-r{
	margin: 0px;
	padding: 0px;
	border: solid 1px black;
}

.info-c{
	margin: 0px;
	padding: 0.5rem;
	border: solid 1px black;
}

.info-c-t{
	margin: 0px;
	padding: 0.5rem;
	border-top: solid 1px black;
	border-left: solid 1px black;
	border-right: solid 1px black;
}

.info-c-m{
	margin: 0px;
	padding: 0px;
	border-left: solid 1px black;
	border-right: solid 1px black;
}

.info-c-b{
	margin: 0px;
	padding: 0px;
	border-left: solid 1px black;
	border-right: solid 1px black;
	border-bottom: solid 1px black;
}

.info-c-sub{
	width: 80%;
	height: 100%;
	margin: 0px 0px 0px auto;
	padding: 0.5rem;
	border-left: solid 1.5px black;
	border-top: solid 1.5px black;
}

table{
	width: 100%;
	border: none;
}

thead{
	width: 100%;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: solid 1.5px black;
}

.table-parent{
	padding: 0.2rem 1rem;
	border: solid 1.5px black;
	margin: 0px auto;
}

tbody{
	width: 100%;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: solid 1px lightgray;
}

tr{
	border: none;
}

th{
	padding: 0.2rem;
	text-align: center;
	border: none;
}

td{
	padding: 0.2rem;
	text-align: center;
	border: none;
}

.edit-btn-simple{
	width: 1.5rem;
	height: 1.5rem;
	padding: 0px;
	margin: 0px;
}

.edit-btn-simple div{
	width: auto;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: 50% 50%;
	transition: all .15s ease-in-out;
}

.edit-btn-simple:hover div{
	filter: invert(100%);
}

.edit-btn{
	vertical-align: middle;
	padding: 0.1rem 0.5rem;
	margin: 0px;
}

.edit-btn div{
	width: 1.2rem;
	height: 1.2rem;
	margin: 0px;
	margin-right: 0.3rem;
	padding: 0px;
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-size: contain;
	transition: all .15s ease-in-out;
}

.edit-btn:hover div{
	filter: invert(100%);
}

.edit-btn a{
	padding: 0px;
	margin: 0px;
	padding-bottom: 0.1rem;
	display: inline-block;
	vertical-align: middle;
	transition: color .15s ease-out;
}

.edit-btn:hover a{
	color: white;
}
