.thermometer{
	width: 50px;
	height: 50px;
	position: absolute;
	background-image: url('/static/watch_temp/thermometer_icon.png');
	background-size: cover;
}

.building{
	width: 50%;
	border: solid 1px black;
}

.building-floor{
	text-align: center;
	border: solid 1px black;
	padding: 0.2rem;
}

.info-r-t{
	margin: 0px;
	padding: 0px;
	border-top: solid 1px black;
	border-left: solid 1px black;
	border-right: solid 1px black;
}

.info-r-m{
	margin: 0px;
	padding: 0px;
	border-left: solid 1px black;
	border-right: solid 1px black;
}

.info-r-b{
	margin: 0px;
	padding: 0px;
	border-left: solid 1px black;
	border-right: solid 1px black;
	border-bottom: solid 1px black;
}

.info-c{
	margin: 0px;
	padding: 0.5rem;
	border: solid 1px black;
}

.info-c-t{
	margin: 0px;
	padding: 0.5rem;
	border-top: solid 1px black;
	border-left: solid 1px black;
	border-right: solid 1px black;
}

.info-c-m{
	margin: 0px;
	padding: 0px;
	border-left: solid 1px black;
	border-right: solid 1px black;
}

.info-c-b{
	margin: 0px;
	padding: 0px;
	border-left: solid 1px black;
	border-right: solid 1px black;
	border-bottom: solid 1px black;
}

.info-c-sub{
	width: 80%;
	margin: 0px 0px 0px auto;
	padding: 0.5rem;
	border-left: solid 1.5px black;
	border-top: solid 1.5px black;
}
